*{
  margin:0;
  padding:0px;
  text-decoration: none;
  box-sizing: border-box;
}

.App {
  padding: 30px;
}

.section-full {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  background: #eaeaea;
}

.section-full.header {
  background: #eaeaea;
}

.section-full.first {
  background: #f2e1e1;
}

.section-full.second {
  background: #ddf2e9;
}

.section-full table{
  width: 100%;
  text-align: left;
  margin-top:20px;
}
.section-full table thead {
  background: rgb(83, 83, 215);
  
}
.section-full table thead th {
  padding:10px;
  color: #eaeaea;
}

.section-full table tbody tr {
  background: rgb(241, 241, 248);
}

.section-full table tbody tr td{
  padding:10px;
  color: #2a2a2a;
}


nav {
  list-style:none;
  display: flex;
  justify-content: space-around;
  padding-top:50px;
  width: 100%;
}

nav a {
  padding:20px 30px;
  color:#2a2a2a;
  font-size:16px;
  font-weight: bold;
  display: inline-block;
  background: rgb(168, 203, 228);
}

nav a.active, nav a:hover {
  background: rgb(66, 133, 180);
  color:#fff;
}

.landingPage {
  display: block;
  text-align: center;
  padding:150px 0;
}